<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/admin_style.css">
    {{> head}}
</head>

<body>
{{> menu}}

<div class="container">
<h1>{{heading}}</h1>

{{#if rsvps.length}}
    <h2>RSVP'd Events</h2>
    <table>
        <tr>
            <th>Event Name</th>
            <th>Event Description</th>
            <th>Date</th>
            <th></th>
        </tr>

        {{#each rsvps}}
        <tr>
            <td>{{eventName}}</td>
            <td>{{eventDescription}}</td>
            <td>{{eventDate}}</td>
            <td>
                <form method="post" action="/cancelRSVP">
                    <input type="hidden" name="event_uuid" value="{{event_uuid}}">
                    <input type="hidden" name="account_uuid" value="{{../account_uuid}}">

                    <input type="submit" value="Cancel RSVP">
                </form>
            </td>
        </tr>   
        {{/each}}
    </table>
{{else}}
    <h3>You haven't signed up for any events!</h3>
{{/if}}

{{#unless event.lengths}}
    <h2>RSVP to New Events!</h2>
    <form method="post" action="/eventRSVP">
        {{#each event}}
            <input type="checkbox" name="event_uuids" value="{{event_uuid}}"> {{eventName}}<br>
            {{eventDescription}}<br>
            {{eventDate}}<br><br>
        {{/each}}

        <input type="hidden" name="account_uuid" value="{{account_uuid}}">

        <input type="submit" Value="Submit">
    </form>
{{else}}
    <h3>Keep an eye out in your email for more updates</h3>
{{/unless}}
</body>
{{> footer}}
</html>