<!DOCTYPE html>
<html lang="en">
{{> head}}

<body>
    {{> menu}}
    <br><br>

    <div class="container">
        {{#each speakers}}
            <div class="grid-container">
                <h2>{{firstName}} {{lastName}}</h2>
                <div class="grid-item imageContainer">
                    <image id="profileImage" src="/images/speakers/{{imageName}}" />
                    <div class="grid-item1">
                        <p class="speaker-info"><b>Speaker topic: </b>{{topic}}</p><br>
                        <p class="speaker-info"><b>Time: </b>{{time}}</p><br>
                        <p class="speaker-info"><b>Location(room): </b>{{location}}</p>
                    </div>
                </div>

                <div class="grid-item">{{biography}}</div>
                {{!-- <div class="grid-item1">
                    <p class="speaker-info">Speaker topic: </p><br>
                    <p class="speaker-info">Time: </p><br>
                    <p class="speaker-info">Location(room): </p>
                </div> --}}
            </div>
        {{/each}}
    </div>
</body>
{{> footer}}

</html>