<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/css/admin_style.css">
    {{> head}}
</head>

<body>
    {{> admin_menu}}

    <div class="maincontent">

    {{> menu}}

    <h1>{{heading}}</h1>

    <br><br>

    <div class="modal fade" id="uploadCarouselImage" tabindex="-1" role="dialog" aria-labelledby="uploadCarouselImage" aria-hidden="true">
        <form method="post" action="/upload" enctype="multipart/form-data">
            <div id="uploadCarousel" class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Add New Carousel Image</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="hidden" name="path" value="./public/images/index/carousel/">
                            <div class="alert alert-warning">
                                <strong>!</strong> Make sure images are labeled descriptively <strong>!</strong>
                            </div>
                            <input type="file" name="upload" multiple>
                        </div>
                        
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <input type="submit" value="Upload">
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="admin-home-jumbotron">
        <h3>Change Home Page Title</h3>
        <div class="form-group">
            <form method="POST" action="/changeHomeTitle" style="margin: 0;">
                <input type="text" class="form-control" id="homeTitle" name="homeTitle" aria-describedby="emailHelp" placeholder="{{homeTitle}}" required>
                <br>
                <button type="submit" class="btn btn-outline-primary">Change Title</button>
            </form>
        </div>
    </div>

    <br><br>

    <div class="admin-home-jumbotron">
    <h3><span>Change Carousel Image ({{carouselImgs.length}})</span></h3>
    <button type="button" data-toggle="modal" data-target="#uploadCarouselImage" class="btn btn-success add_image_button">Add New Carousel Image</button>
    <br><br>

    <table class="carouselTable filetable table-responsive">        
    
        {{#each carouselImgs}}
        <tr style="background-color: white;">
            <td style="width: 90%;"><a class="admin_image_text" href="#" data-toggle="popover" title="{{this}}" data-content='<img src="/images/index/carousel/{{this}}" width="100%"/>'>{{this}}</a></td>
            <td>
                <form method="POST" action="/deleteFile">
                    <input type="hidden" name="path" value="./public/images/index/carousel/{{this}}">
                    <button type="submit" class="btn btn-outline-danger delete_image_button">Delete</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </table>
    </div>

    <br><br>
    
    <div class="modal fade" id="uploadSponsorImage" tabindex="-1" role="dialog" aria-labelledby="uploadSponsorImage"
        aria-hidden="true">
        <form method="post" action="/upload" enctype="multipart/form-data">
            <div id="uploadsponsor" class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Add New Sponsor Image</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="hidden" name="path" value="./public/images/index/sponsors/">
                            <div class="alert alert-warning">
                                <strong>!</strong> Make sure images are labeled descriptively <strong>!</strong>
                            </div>
                            <input type="file" name="upload" multiple>
                        </div>
    
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="submit" class="btn btn-outline-secondary">Upload</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="admin-home-jumbotron">
        <h3><span>Change Sponsor Images ({{sponsorImgs.length}})</span></h3>
        <button type="button" data-toggle="modal" data-target="#uploadSponsorImage" class="btn btn-success add_image_button">Add New Sponsor Image</button>

        <br><br>
    <table class="filetable table-responsive">
    
        {{#each sponsorImgs}}
        <tr style="background-color: white;">
            <td style="width: 90%;"><a class="admin_image_text" href="#" data-toggle="popover" title="{{this}}" data-content='<img src="/images/index/sponsors/{{this}}" width="100%"/>'>{{this}}</a></td>
            <td>
                <form method="POST" action="/deleteFile">
                    <input type="hidden" name="path" value="./public/images/index/sponsors/{{this}}">
                    <button type="submit" class="btn btn-outline-danger delete_image_button">Delete</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </table>
    </div>
    </div>

    <script type="text/javascript" src="/js/admin/webcontent/home_script.js"></script>
</body>
</html>