<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/css/admin_style.css">
    {{> head}}
</head>

<body>
    {{> admin_menu}}

    <div class="maincontent">
        {{> menu}}

        <h1>{{heading}}</h1>
        <br><br>
        <div class="admin-account-jumbotron">
        <h3>Admin Accounts</h3>
        <table class="adminTable table-responsive filetable">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Administrator Status</th>
                <th></th>
            </tr>
            {{#each admins}}
            <tr class="user_acount_table" >
                <td style="width: 30%;" class="adminTableCell">{{firstName}} {{lastName}}</td>
                <td style="width: 30%;" class="adminTableCell">{{email}}</td>
                <td style="wdith: 30%;" class="adminTableCell">{{#if isSU}}Super User{{else if isadmin}}Administrator{{else}}{{/if}}</td>
                <td class="adminTableCell">
                    <form method="post" action="/changeAdminStatus">
                        <input type="hidden" name="account_uuid" value={{account_uuid}}> 
                        <input type="hidden" name="adminStatus" value="0">
                        <button type="submit" class="btn btn-outline-danger admin_account_button">Demote</button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </table>
        </div>
        <br><br>

        <div class="non-admin-account-jumbotron">
        <h3 style="color: ">Non-Admin Accounts</h3>
        <table class="adminTable table-responsive filetable">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th></th>
            </tr>
            {{#each nonAdmins}}
            <tr class="user_acount_table">
                <td style="width: 45%;" class="adminTableCell">{{firstName}} {{lastName}}</td>
                <td style="width: 45%;"class="adminTableCell">{{email}}</td>
                <td class="adminTableCell">
                    <form method="post" action="/changeAdminStatus">
                        <input type="hidden" name="account_uuid" value={{account_uuid}}> 
                        <input type="hidden" name="adminStatus" value="1">
                        <button type="submit" class="btn btn-outline-primary admin_account_button">Promote</button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </table>
        </div>
    </div>

</body>

{{!-- <div class="maincontent"> --}}
    {{> footer}}
{{!-- </div> --}}

</html>