<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/css/admin_style.css">
    {{> head}}
</head>

<body>
    {{> admin_menu}}

    <div class="maincontent">

    {{> menu}}
    
    <h1>{{heading}}</h1>
    <button type="button" data-toggle="modal" data-target="#editEventForm">Edit Event</button>
    <div class="modal fade" id="editEventForm" tabindex="-1" role="dialog" aria-labelledby="editEventFormLabel" aria-hidden="true">
        <form method="post" action="/editEvent" id="editevent_form">
            <div id="editEvent" class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Edit Event</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <input type="hidden" name="event_uuid" value={{event_uuid}}>
                    <div class="modal-body">
                        <div class="form-group">
                            <label data-error="wrong" data-success="right" for="eventForm-name">Event Name</label>
                            <input type="text" class="form-control validate" name="name" value="{{name}}">
                        </div>
                        <div class="form-group">
                            <label data-error="wrong" data-success="right" for="eventForm-date">Event Date</label>
                            <input type="date" class="form-control validate" name="date" value={{date}}>
                        </div>
                        <div class="form-group">
                            <label data-error="wrong" data-success="right" for="eventForm-description">Event Description</label>
                            <textarea class="form-control" rows="3" name="desc">{{desc}}</textarea>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <input type="submit" class="btn btn-deep-orange" value="Confirm">
                    </div>
                </div>
            </div>
        </form>
    </div>

    <br>

    <h3>Event Description</h3>
    <p>{{date}}</p>
    <p>{{desc}}</p>
    
    <h3>Attendees</h3>
    <p>Number of attendees: {{countAttendees}}</p>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Company</th>
            <th></th>
        </tr>
        {{#each eventAttendees}}
        <tr>
            <td>{{firstName}} {{lastName}}</td>
            <td>{{email}}</td>
            <td>{{companyName}}</td>
            <td>
                <form method="post" action="/deleteAttendee">
                    <input type="hidden" name="accountID" value={{account_uuid}}>
                    <input type="hidden" name="event_uuid" value={{../event_uuid}}>
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
        {{/each}}
    </table>
</body>
</div>
<div class="maincontent">
    {{> footer}}
</div>


</html>