<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/admin_style.css">
    {{> head}}
</head>

<body>
    {{> admin_menu}}


    <div class="mainlength maincontent">
        {{> menu}}

        <h1>{{heading}}</h1>
            {{#each feedback}}
            <table class="table table-striped" id="feedbackTable">
                <tr>
                    <th>Content of Conference</th>
                    <td>{{content}}</td>
                </tr>
                <tr>
                    <th>Length of Conference</th>
                    <td>{{length}}</td>
                </tr>
                <tr>
                    <th>Organization of Conference</th>
                    <td>{{organization}}</td>
                </tr>                                                
                <tr>
                    <th>Format of Conference</th>
                    <td>{{format}}</td>
                </tr> 
                <tr>
                    <th>Overall Rating of Conference</th>
                    <td>{{overall_rating}}</td>
                </tr>
                <tr>
                    <th>Relevance to your Occupation</th>
                    <td>{{relevance}}</td>                        
                </tr>
                <tr>
                    <th>Comments</th>
                    <td>{{comments}}</td>                       
                </tr>                       
            </table>
            {{/each}}
    </div>   
        
</body>

{{> footer}}
</html>