<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/css/admin_style.css">
    {{> head}}
</head>

<body>
    {{> admin_menu}}

    <div class="maincontent">
        {{> menu}}

        <h1>{{heading}}</h1>

        <div class="jumbotron no_background_colour">
            <table class="usersTable">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th></th>
                    <th></th>
                </tr>

                {{#each users}}
                <tr class="account_table">
                    <td><a href="/admin/useraccounts/{{account_uuid}}">{{lastName}}, {{firstName}}</td></a>
                    <td>{{email}}</td>
                    <td><a href="/admin/useraccounts/{{account_uuid}}"><button class="btn btn-outline-primary">Edit user</button></a></td>
                    <td>
                        <form method="post" action="/deleteUser">
                            <input type="hidden" name="account_uuid" value="{{account_uuid}}">
                            <button type="submit" class="btn btn-outline-danger">Delete</button>
                        </form>
                    </td>
                </tr>
                {{/each}}
            </table>
        </div>
    </div>

</body>
{{> footer}}
</html>