<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/admin_style.css">
    {{> head}}
</head>

<body>
{{> admin_menu}}

<div class="maincontent">
    {{> menu}}

    <form method="post" action="/editUser">
        <h1>{{heading}}</h1>
        <p><i>A * denotes required information.</i></p>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="email"><b>Email Address *</b></label>
                <input type="email" class="form-control" name="email" value="{{user.email}}" placeholder="{{user.email}}" required>  
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="title"><b>Title</b></label>
                <input type="text" class="form-control" name="title" value="{{user.title}}" placeholder="Title">
            </div>
            <div class="form-group col">
                <label for="firstName"><b>First Name *</b></label>
                <input type="text" class="form-control" name="firstName" value="{{user.firstName}}" placeholder="First Name" required>
            </div>
            <div class="form-group col">
                <label for="lastName"><b>Last Name *</b></label>
                <input type="text" class="form-control" name="lastName" value="{{user.lastName}}" placeholder="Last Name" required> 
            </div>       
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="businessPhone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"><b>Business Phone Number</b></label>
                <input type="tel" class="form-control" name="businessPhone" value="{{user.businessPhone}}" placeholder="Format: 123-456-7890">
            </div>
            <div class="form-group col-md-4">
                <label for="homePhone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"><b>Home phone Number</b></label>
                <input type="tel" class="form-control" name="homePhone" value="{{user.homePhone}}" placeholder="Format: 123-456-7890">
            </div>
            <div class="form-group col-md-4">
                <label for="cellPhone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"><b>Cellular Phone Number</b></label>
                <input type="tel" class="form-control" name="cellPhone" value="{{user.cellPhone}}" placeholder="Format: 123-456-7890">
            </div>
        </div>

        <div class="form-group">
            <div class="form-row">
                <div class="form-group col-md-10">
                    <label for="address"><b>Address</b></label>
                    <input type="text" class="form-control" name="addressL1" value="{{user.addressL1}}" placeholder="Street and Number (E.g. 1234 Main St)">
                </div>
                <div class="form-group col-md-2">
                    <label for="pc_zip"><b>Postal Code/Zip</b></label>
                    <input type="text" class="form-control" name="pc_zip" value="{{user.pc_zip}}" placeholder="{{user.pc_zip}}">
                </div>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" name="addressL2" value="{{user.addressL2}}" placeholder="Apartment, suite, unit, building, floor, etc.">
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="city" value="{{user.city}}" placeholder="City">
                </div>
                <div class="form-group col-md-4">
                        <select name="country" class="form-control country">
                            <option disabled selected value="null_value">select your country</option>
                            <option value="Canada" {{defaultDropdown "Canada" user.country}}>Canada</option>
                            <option value="United States" {{defaultDropdown "United States" user.country}}>United States</option>
                        </select>
                </div>
                <div class="form-group col-md-4">
                    <select name="province_state" class="form-control provincestate">
                        {{#if (checkCountry "Canada" user.country)}}
                        <option disabled selected value="null_value">select your province</option>
                        <option {{defaultDropdown "AB" user.province_state}} value="Alberta">Alberta</option>
                        <option {{defaultDropdown "BC" user.province_state}} value="British Columbia">British Columbia</option>
                        <option {{defaultDropdown "MB" user.province_state}} value="Manitoba">Manitoba</option>
                        <option {{defaultDropdown "NB" user.province_state}} value="New Brunswick">New Brunswick</option>  
                        <option {{defaultDropdown "NL" user.province_state}} value="Newfoundland and Labrador">Newfoundland and Labrador</option>
                        <option {{defaultDropdown "NS" user.province_state}} value="Nova Scotia">Nova Scotia</option>  
                        <option {{defaultDropdown "ON" user.province_state}} value="Ontario">Ontario</option>
                        <option {{defaultDropdown "PE" user.province_state}} value="Prince Edward Island">Prince Edward Island</option>
                        <option {{defaultDropdown "QC" user.province_state}} value="Quebec">Quebec</option>   
                        <option {{defaultDropdown "SK" user.province_state}} value="Saskatchewan">Saskatchewan</option>
                        <option {{defaultDropdown "NT" user.province_state}} value="Yukon">Yukon</option>
                        <option {{defaultDropdown "NU" user.province_state}} value="Northwest Territories">Northwest Territories</option>
                        <option {{defaultDropdown "YT" user.province_state}} value="Nunavut">Nunavut</option>
                        {{/if}}
                        {{#if (checkCountry "United States" user.country)}}
                        <option {{defaultDropdown "CA" user.province_state}} value="CA">California</option>
                        <option {{defaultDropdown "NY" user.province_state}} value="NY">New York</option>
                        {{/if}}
                    </select>
                </div>
            </div>
        </div>
        
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="companyName"><b>Company Name *</b></label>
                <input type="text" class="form-control" name="companyName" value="{{user.companyName}}" placeholder="Company Name"required>
            </div>
            <div class="form-group col-md-4">
                <label for="plantClassification"><b>Plant Classification *</b></label>
                <select name="plantClassification" class="form-control">
                    <option disabled value="null_value" {{defaultDropdown "null_value" user.plantClassification}}>select your plant classification</option>
                    <option value="Other" {{defaultDropdown "Other" user.plantClassification}}>Other</option>
                    <option value="1st Class" {{defaultDropdown "1st Class" user.plantClassification}}>1st Class</option>
                    <option value="2nd Class" {{defaultDropdown "2nd Class" user.plantClassification}}>2nd Class</option>
                    <option value="3rd Class" {{defaultDropdown "3rd Class" user.plantClassification}}>3rd Class</option>
                    <option value="4th Class" {{defaultDropdown "4th Class" user.plantClassification}}>4th Class</option>  
                    <option value="5th Class" {{defaultDropdown "5th Class" user.plantClassification}}>5th Class</option>
                    <option value="RPO" {{defaultDropdown "RPO" user.plantClassification}}>RPO</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="fieldPosition"><b>Field Position *</b></label>
                <select name="fieldPosition" class="form-control">
                    <option disabled selected value="null_value" {{defaultDropdown "null_value" user.fieldPosition}}>select your position</option>
                    <option value="Other" {{defaultDropdown "Other" user.fieldPosition}}>Other</option>
                    <option value="Chief Engineer" {{defaultDropdown "Chief Engineer" user.fieldPosition}}>Chief Engineer</option>
                    <option value="Shift Engineer" {{defaultDropdown "Shift Engineer" user.fieldPosition}}>Shift Engineer</option>
                    <option value="Operator" {{defaultDropdown "Operator" user.fieldPosition}}>Operator</option>
                </select>
            </div>
        </div>
        <input type="hidden" name="account_uuid" value="{{user.account_uuid}}">

        <button type="submit" id="submitRegister" class="btn btn-outline-primary">Submit</button>
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/static/js/registration.js"></script>
</body>
{{> footer}}
</html>