<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/css/admin_style.css">
    {{> head}}
</head>

<body>
    {{> admin_menu}}

    <div class="maincontent">
        {{> menu}}

        <h1>{{heading}}</h1>
        <br><br>
        <div class="user-account-jumbotron">
            <h3>User Accounts</h3>
            <table class="usersTable table-responsive filetable">
                <tr class="user_acount_table" style="background-color: white;">
                    <th>Name</th>
                    <th>Email</th>
                    <th></th>
                    <th></th>
                </tr>

                {{#each users}}
                <tr class="user_acount_table" style="background-color: white;">
                    <td style="width: 40%;"><a style="color: black;" href="/admin/useraccounts/{{account_uuid}}">{{lastName}}, {{firstName}}</td></a>
                    <td style="width: 40%;">{{email}}</td>
                    <td style="width: 10%;"><a href="/admin/useraccounts/{{account_uuid}}"><button class="btn btn-outline-primary user_account_button">Edit user</button></a></td>
                    <td>
                        <form method="post" action="/deleteUser">
                            <input type="hidden" name="account_uuid" value="{{account_uuid}}">
                            <button type="submit" class="btn btn-outline-danger user_account_button">Delete</button>
                        </form>
                    </td>
                </tr>
                {{/each}}
            </table>
        </div>
    </div>

</body>
{{> footer}}
</html>