<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/admin_style.css">
    {{> head}}
</head>

<body>
{{> admin_menu}}

<div class="maincontent">
    {{> menu}}
    <div class="container">
        <form method="post" action="/editUser">
            <h1>{{heading}}</h1>
            <p><i>A * denotes required information.</i></p>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="email"><b>Email *</b></label>
                    <input type="email" class="form-control" name="email" value={{user.email}} required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label for="title"><b>Title</b></label>
                    <input type="text" class="form-control" placeholder="Title" name="title" value={{user.title}} >
                </div>
                <div class="form-group col">
                    <label for="firstName"><b>First Name *</b></label>
                    <input type="text" class="form-control" placeholder="First name" name="firstName" value={{user.firstName}}>
                </div>
                <div class="form-group col">
                    <label for="lastName"><b>Last Name *</b></label>
                    <input type="text" class="form-control" placeholder="Last name" name="lastName" value={{user.lastName}}>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="businessPhone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"><b>Business Phone Number</b></label>
                    <input type="tel" class="form-control" placeholder="{{user.businessPhone}}" name="businessPhone" value="{{user.businessPhone}}">
                </div>
                <div class="form-group col-md-4">
                    <label for="homePhone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"><b>Home Phone Number</b></label>
                    <input type="tel" class="form-control" placeholder="{{user.homePhone}}" name="homePhone" value="{{user.homePhone}}">
                </div>
                <div class="form-group col-md-4">
                    <label for="cellPhone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"><b>Cellular Phone Number</b></label>
                    <input type="tel" class="form-control" placeholder="{{user.cellPhone}}" name="cellPhone" value="{{user.cellPhone}}">
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="form-group col-md-10">
                        <label for="address"><b>Address</b></label>
                        <input type="text" class="form-control" name="addressL1" placeholder="{{user.addressL1}}" value="{{user.addressL1}}">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="pc_zip"><b>Postal Code/Zip</b></label>
                        <input type="text" class="form-control" name="pc_zip" placeholder="{{user.pc_zip}}" value="{{user.pc_zip}}">
                    </div>
                </div>
                
                <div class="form-group">
                    <input type="text" class="form-control" name="addressL2" placeholder="{{user.addressL2}}" value="{{user.addressL2}}">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" name="city" placeholder="{{user.city}}" value="{{user.city}}">
                    </div>
                    <div class="form-group col-md-4">
                        <select name="country" class="form-control country">
                            <option disabled selected value="null_value" {{defaultDropdown "null_value" user.country}}>select your country</option>
                            <option value="Canada" {{defaultDropdown "Canada" user.country}}>Canada</option>
                            <option value="United_States" {{defaultDropdown "United_States" user.country}}>United States</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <select name="provincestate" class="form-control provincestate">
                            <option disabled selected value="null_value">select your province</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="companyName"><b>Company Name *</b></label>
                    <input type="text" class="form-control" name="companyName" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="plantClassification"><b>Plant Classification</b></label>
                    <select name="plantClassification" class="form-control">
                        <option disabled selected value="null_value" {{defaultDropdown "null_value" user.plantClassification}}>select your plant classification</option>
                        <option value="Other" {{defaultDropdown "Other" user.plantClassification}}>Other</option>
                        <option value="1st Class" {{defaultDropdown "1st Class" user.plantClassification}}>1st Class</option>
                        <option value="2nd Class" {{defaultDropdown "2nd Class" user.plantClassification}}>2nd Class</option>
                        <option value="3rd Class" {{defaultDropdown "3rd Class" user.plantClassification}}>3rd Class</option>
                        <option value="4th Class" {{defaultDropdown "4th Class" user.plantClassification}}>4th Class</option>  
                        <option value="5th Class" {{defaultDropdown "5th Class" user.plantClassification}}>5th Class</option>
                        <option value="RPO" {{defaultDropdown "RPO" user.plantClassification}}>RPO</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="fieldPosition"><b>Field Position</b></label>
                    <select name="fieldPosition" class="form-control">
                        <option disabled selected value="null_value" {{defaultDropdown "null_value" user.fieldPosition}}>select your position</option>
                        <option value="Other" {{defaultDropdown "Other" user.fieldPosition}}>Other</option>
                        <option value="Chief Engineer" {{defaultDropdown "Chief Engineer" user.fieldPosition}}>Chief Engineer</option>
                        <option value="Shift Engineer" {{defaultDropdown "Shift Engineer" user.fieldPosition}}>Shift Engineer</option>
                        <option value="Operator" {{defaultDropdown "Operator" user.fieldPosition}}>Operator</option>
                    </select>
                </div>
            </div>

            <button type="submit" id="submitRegister" class="btn btn-outline-primary" {{#unless inAdminPanel}}disabled{{/unless}}>Submit</button>
        </form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/static/js/registration.js"></script>
</body>
</html>