<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/css/admin_style.css">
    {{> head}}
</head>

<body>
    {{> admin_menu}}

    <div class="maincontent">
        {{> menu}}

        <h1>{{heading}}</h1>

        <div class="jumbotron no_background_colour">
            <p><button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#userFilters" aria-expanded="false" aria-controls="collapseExample">Show Filter</button></p>
            <br>
            <div class="collapse" id="userFilters">
                <p>Plant Classifications</p>
                <input type="radio" style="margin-left: 15px;" id="all" name="plantClassification">Show All
                <input type="radio" style="margin-left: 15px;" id="N/A" name="plantClassification">N/A
                <input type="radio" style="margin-left: 15px;" id="1st Class" name="plantClassification">1st Class
                <input type="radio" style="margin-left: 15px;" id="2nd Class" name="plantClassification">2nd Class
                <input type="radio" style="margin-left: 15px;" id="3rd Class" name="plantClassification">3rd Class
                <input type="radio" style="margin-left: 15px;" id="4th Class" name="plantClassification">4th Class
                <input type="radio" style="margin-left: 15px;" id="5th Class" name="plantClassification">5th Class
                <input type="radio" style="margin-left: 15px;" id="RPO" name="plantClassification">RPO
            </div>

            <table class="usersTable">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Company Name</th>
                    <th>Division</th>
                    <th>Plant Classification</th>
                    <th>Field Position</th>
                    <th>Business Phone</th>
                    <th></th>
                    <th></th>
                </tr>

                {{#each users}}
                <tr class="account_table">
                    <td><a href="/admin/useraccounts/{{account_uuid}}">{{lastName}}, {{firstName}}</td></a>
                    <td>{{email}}</td>
                    <td>{{companyName}}</td>
                    <td>{{Division}}</td>
                    <td class="plantClassification">{{plantClassification}}</td>
                    <td>{{fieldPosition}}</td>
                    <td>{{businessPhone}}</td>
                 
                    <td><a href="/admin/useraccounts/{{account_uuid}}"><button class="btn btn-outline-primary">Edit user</button></a></td>
                    <td>
                        <form method="post" action="/deleteUser">
                            <input type="hidden" name="account_uuid" value="{{account_uuid}}">
                            <button type="submit" class="btn btn-outline-danger">Delete</button>
                        </form>
                    </td>
                </tr>
                {{/each}}
            </table>
        </div>
    </div>

    <script type="text/javascript" src="/js/admin/user_table_filter.js"></script>
</body>
{{> footer}}
</html>